html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

.side {
  background-color: #AC703B;
}

.center {
  background-color: #EFCEA8;
}

.logo {
  margin-top: 20px;
  width: 280px;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .side {
    display: none;
  }

  .center {
    width: 100%;
    grid-column: 1 / -1;
  }
}